body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #000000;
    background-color: rgb(255, 145, 0)
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    display: inline;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(255, 188, 188)
}

.topnav a.active {
    background-color: #009dff;
    color: #000000;
}


.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: fixed;
    }

}

.footer {
    left: 10px;
    bottom: 10px;
    width: 100%;
    background-color: yellowgreen;
    color: red;
    text-align: center;
}

li {
    list-style-type: none;
}